.summary-box {
    text-align: center;
    /* background-color: blue; */
    margin-top: 4%;
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: 5%;
    padding-top: 2%;
  }
  ul {
    list-style-type: none;
  }
  
  button {
    padding: 5px 35px;
    border: 0px;
    color: white;
    background-color: black;
  }
  button:hover {
    background-color: skyblue;
    color: black;
  }
  
  button:focus {
    outline: none;
  }
  .item-order {
    margin-top: 10%;
  }
  
  